/*START APP*/
.App {
  /*text-align: center;*/
  display: grid;
  grid-template-columns: 225px auto 200px;
  grid-template-rows: 50px auto;
  grid-gap: 5px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
/*END APP*/

#users-container {
  margin-left: 0;
}

.profile-delete-edit-button {
  border-radius: 5px;
  border: 1px solid #e3e5e8;
  background: darkgreen;
  color: white;
  text-decoration: none;
  font-size: 0.7em;
  padding: 3px 10px 3px 10px;
}

.profile-delete-edit-button:hover {
  color: darkgreen;
  background: #e3e5e8;
  border: 1px solid black;
}

.grey-button, button.grey-button {
  background: #e3e5e8;
  color: darkgreen;
  border: 1px solid darkgreen;
}

.grey-button:hover, button.grey-button:hover {
  background: darkgreen;
  color: white;
}

td.profile-button-col {
  max-width: 70px;
  min-width: 0;
}



/*START NAVBAR*/
#nav-bar {
  grid-column: 1/5;
  /*background: linear-gradient(to top, rgba(98,125,77,1) 16%, rgba(98,125,77,1) 24%, rgba(92,119,71,1) 31%, rgba(31,59,8,1) 100%);*/
  background: darkgreen;
  -webkit-box-shadow: 0px 2px 5px 3px rgba(0,0,0,0.39);
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: repeat(9, 1fr)
}

#nav-bar span.logo {
  grid-row: 1;
  grid-column: 5/7;
  margin-left: 40px;
  margin-top: 5px;
  color: white;
  font-family: 'Patua One', cursive;
  font-size: 1.2em;
}

#nav-bar button {
  color: darkgreen;
  grid-row: 1;
  margin-right: 40px;
  text-align: center;
  background: white;
  border: none;
  font-size: 1em;
  font-family: 'Patua One', cursive;
}

#nav-bar button:hover {
  background: #e3e5e8;
}

/*END NAVBAR*/

/*START MENU LEFT*/
.menu-left {
  grid-column: 1/2;
  /*border: 1px solid black;*/
  text-align: left;
  padding-top: 200px;
  margin-left: 50px;
  grid-row: 2/3;
  border-right: 1px solid #e3e5e8;
  min-height: 700px;
}

hr {
  border: thin solid #e3e5e8;
  margin-right: 10px;
}


/*.menu-left a {
  text-decoration: none;
  background-color: darkgreen;
  color: white;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  border-radius: 15px;
  width: 50px;
}*/

.green-white-button {
  border-radius: 5px;
  padding: 5px 15px 5px 15px;
  border: 1px solid #e3e5e8;
  font-size: 1.2em;
  background: darkgreen;
  color: white;
  text-decoration: none;
}

.green-white-button:hover {
  color: darkgreen;
  background: #e3e5e8;
  border: 1px solid black;
}

/*END MENU LEFT*/

/*START NEW SCORE FORM*/
.new-score-form {
  text-align: left;
  border-collapse: collapse
}

select#employeeID {
  font-family: 'Varela', sans-serif;
  font-size: 1em;
  margin: 5px;
  color: #444;
  line-height: 1.3;
  border-radius: .2em;
}

.new-score-form td.score-cell input {
  width: 50px;
  height: 50px;
  border-radius: 15px;
  font-size: 1.5em;
  text-align: center;
}

.new-score-form td.score-cell textarea {
  width: 250px;
  height: 100px;
  border-radius: 15px;
  font-size: 1em;
  border: 1px solid grey;
}

.action-step-entry {
  width: 500px;
  height: 100px;
  border-radius: 15px;
  font-size: 1em;
  text-align: left;
  border: 1px solid grey;
}

.top-margin {
  margin-top: 25px;
}

.new-score-form td.score-cell {
  font-size: 1.2em;
  border-bottom: thin solid #e3e5e8;
}

/*END NEW SCORE FORM*/

/*START CONTAINER*/
.container {
  /*grid-row: 3;*/
  grid-column: 2/5;
  margin: 0 40px 25px 40px;
  /*border: 1px solid #e3e5e8;*/
}

.container table {
  width: 100%;
  border-collapse: collapse;
}

table thead tr td.table-header {
  font-family: 'Varela', sans-serif;
  font-size: 2em;
  text-decoration: underline;
}

.table-header {
  font-family: 'Varela', sans-serif;
  font-size: 2em;
  text-decoration: underline;
}

span.table-header {
  text-decoration: none;
}

.large td {
  font-family: 'Varela', sans-serif;
  text-align: center;
  /*border: 1px solid black;*/
  width: 400px;
  min-width: 200px;
  font-size: 1.4em;
  margin-left: 0;
}

/*END CONTAINER*/

/* START FORM */
.form {
  grid-row: 2;
  grid-column: 2/5;
  margin-bottom: 50px;
  margin-top: 50px;
  padding: 15px;
  border-radius: 15px;
}

.log-in-form {
  grid-row: 2;
  grid-column: 2;
  padding-left: 300px;
}

#log-in-submit {
  width: 230px;
}
/* END FORM */

.fade-in {
    opacity:0;  /* make things invisible upon start */
    animation:fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */

    animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/

    animation-duration:0.2s;
    animation-delay: 0s
}

@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

/* START NEW USER FORM */
.create-edit-form input {
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  border: 1px solid #e3e5e8;
  font-size: 1.2em;
}

.create-edit-form {
  margin-left: 50px;
}

.create-edit-form span.create-edit-form-label {
  font-family: 'Varela', sans-serif;
  font-size: 1.3em;
}
/* END NEW USER FORM*/

/* START USER CHART */
.chart {
  grid-row: 2;
  margin-top: 2%;
  margin-bottom: 10%;
  margin-left: 5%;
  max-width: 90%;
  max-height: 90%;
}

.no-evals-yet {
  padding-top: 200px;
  font-family: 'Varela', sans-serif;
  font-size: 3em;
}
/* END USER CHART */

/* START ERROR PAGE */
  
#error-page {
  grid-column: 3;
  margin-top: 200px;
  font-family: 'Varela', sans-serif;
  font-size: 3em;
  text-align: center;
}

/* END ERROR PAGE */

/* Position of lists on chart page...need to probably change to make chart container display grid with 2 rows and 2 columns*/
#action-steps {
  /*margin-left: 10%;*/
  display: inline-block;
  width: 450px;
  margin-bottom: 50px;
  float: right;
}

#action-steps td {
  max-width: 150px;
  font-size: 1.5em;
}

#scores-list {
  float:left;
  display: inline-block;
  width: 450px;
  margin-left: 2%;
  margin-bottom: 50px;
}

#scores-list td {
  max-width: 100px;
  font-size: 1.5em;
}

/* SCORES AND ACTION STEPS TABLES IN CHART CONTAINER*/
.charts-container {
}

.charts-container table {
  font-family: 'Varela', sans-serif;
  text-align: center;
  border-top: 1px solid #e3e5e8;
  border-right: 1px solid grey;
  border-left: 1px solid #e3e5e8;
  border-bottom: 1px solid #e3e5e8;
  width: 450px;
  font-size: 0.5em;
  max-height: 350px;
  overflow-y: scroll;
  /*word-break: break-all;*/
}

.charts-container table tbody tr {
  border-bottom: 1px solid #e3e5e8;
}

.charts-container table td {
  width: 100px;
  border-bottom: 1px solid grey;
  border-radius: 0;
}

.underline {
  text-decoration: underline;
}

.charts-container table tbody tr td.no-underline span {
  text-decoration: none;
}

#chart-filter {
  grid-column: 0/2;
  grid-row: 1; 
  margin-top: 15px;
  margin-left: 70px;
  margin-bottom: 0;
}

select#chart-filter {
  font-family: 'Varela', sans-serif;
  font-size: 1em;
  margin: 5px;
  color: #444;
  line-height: 1.3;
  border-radius: .2em;
}

/* START EVAL ITEMS TABLE */
.eval-items-table td {
  width: 600px;
  font-size: 1.1em;
  font-family: 'Varela', sans-serif;
  white-space: normal;
}

.eval-items-table {
  border-collapse: collapse;
}

tr.bottom td {
  border-bottom: thin solid #e3e5e8;
  padding: 10px;
}

/* END EVAL ITEMS TABLE */

/* START NEW EVAL ITEMS FORM */

/* END NEW EVAL ITEMS FORM */

/* START SCORE REVIEW TABLE*/
.score-review-table {
  border-collapse: collapse;
}

.highlight {
  padding: 0 20px 0 20px;
  border: 1px solid grey;
  background: lightblue;
  border-radius: 5px;
}

.score-review-table td {
  width: 300px;
  font-family: 'Varela', sans-serif;
  font-size: 1.3em;
  white-space: normal;
  /*border-right: thin solid #e3e5e8;*/
}

.score-review-table tr {
  border-bottom: ;
}

.align-left {
  text-align: left;
  font-family: 'Varela', sans-serif;
  font-size: 2em;
  text-decoration: underline;
}

.review-warning {
  font-size: 1.5em;
  color: red;
  text-decoration: underline;
}

.score-button {
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  border: 1px solid #e3e5e8;
  font-size: 1.2em;
}

.edit-score-button {
  background: yellow;
  border: 1px solid black;
}

.edit-score-button:hover {
  background: #c4c487;
}

.submit-score-button {
  background: red;
  color: white;
  border: 1px solid black;
}

.submit-score-button:hover {
  background: darkgreen;
}

.float-right {
  margin-left: 85%;
  width: 100px;
}


/* END SCORE REVIEW TABLE*/

.error-message {
  border-radius: 5px;
  text-align: center;
  background: #f9cfcf;
  color: red;
  padding: 10px;
  margin: 10px;
  border: 1px solid #e3e5e8;
  font-size: 2em;
}
