/*START APP*/
.App {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr)
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
/*END APP*/

/*START NAVBAR*/
#nav-bar {
  grid-column: 1/6;
  height: 40px;
  /*MARTINA SAYS NO background: linear-gradient(to top, rgba(98,125,77,1) 16%, rgba(98,125,77,1) 24%, rgba(92,119,71,1) 31%, rgba(31,59,8,1) 100%);*/
  background: darkgreen;
  -webkit-box-shadow: 0px 2px 5px 3px rgba(0,0,0,0.39);
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: repeat(9, 1fr)
}

#nav-bar span.logo {
  grid-row: 1;
  grid-column: 5;
  color: white;
  font-family: 'Patua One', cursive;
  font-size: 2em;
}

#nav-bar a {
  color: white;
  grid-row: 1;
  margin-top: 10px;
}

/*END NAVBAR*/

/*START NEW SCORE FORM*/
#new-score-form input {
  width: 35px;
}
/*END NEW SCORE FORM*/

/*START USERS CONTAINER*/
#users-container {
  grid-row: 3;
  grid-column: 1/6;
  margin: 0 40px 25px 40px;
  /*border: 1px solid #e3e5e8;*/
}

#users-container table {
  width: 100%;
}

table thead tr td.table-header {
  font-family: 'Varela', sans-serif;
  font-size: 2em;
  text-decoration: underline;
} 

.greydient {
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 15%, rgba(240,240,240,1) 74%, rgba(237,237,237,1) 100%);;
}

td.rounded {
  font-family: 'Varela', sans-serif;
  text-align: center;
  /*border: 1px solid black;*/
  width: 400px;
  font-size: 1.4em;
  border-radius: 10px;
}
/*END USERS CONTAINER*/

/* START NEW USER FORM */
.new-user-form {
  grid-row: 2;
  grid-column: 2/5;
  margin-bottom: 50px;
  margin-top: 50px;
}
/* END NEW USER FORM*/

/* START USER CHART */
.chart {
  margin-top: 30px;
}

.no-evals-yet {
  padding-top: 200px;
  font-family: 'Varela', sans-serif;
  font-size: 3em;
}

/* END USER CHART */