/*START APP*/
.App {
  /*text-align: center;*/
  display: grid;
  grid-template-columns: 225px auto 200px;
  grid-template-rows: 50px auto;
  grid-gap: 5px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
/*END APP*/

/*START NAVBAR*/
#nav-bar {
  grid-column: 1/5;
  /*MARTINA SAYS NO background: linear-gradient(to top, rgba(98,125,77,1) 16%, rgba(98,125,77,1) 24%, rgba(92,119,71,1) 31%, rgba(31,59,8,1) 100%);*/
  background: darkgreen;
  -webkit-box-shadow: 0px 2px 5px 3px rgba(0,0,0,0.39);
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: repeat(9, 1fr)
}

#nav-bar span.logo {
  grid-row: 1;
  grid-column: 5;
  margin-left: 40px;
  color: white;
  font-family: 'Patua One', cursive;
  font-size: 2em;
}

#nav-bar a {
  color: white;
  grid-row: 1;
  margin-top: 10px;
  text-align: center;
}

/*END NAVBAR*/

/*START MENU LEFT*/
.menu-left {
  grid-column: 1/2;
  /*border: 1px solid black;*/
  text-align: center;
  margin-top: 100px;
  margin-left: 20px;
  grid-row: 2/3;
}

.menu-left a {
  text-decoration: none;
  background-color: darkgreen;
  color: white;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  border-radius: 15px;
  width: 50px;
}

/*END MENU LEFT*/

/*START NEW SCORE FORM*/
#new-score-form input {
  width: 35px;
}

#new-score-form {
  text-align: left;
}
/*END NEW SCORE FORM*/

/*START CONTAINER*/
.container {
  /*grid-row: 3;*/
  grid-column: 2/5;
  margin: 0 40px 25px 40px;
  /*border: 1px solid #e3e5e8;*/
}

.container table {
  width: 100%;
}

table thead tr td.table-header {
  font-family: 'Varela', sans-serif;
  font-size: 2em;
  text-decoration: underline;
}

td {
  font-family: 'Varela', sans-serif;
  text-align: center;
  /*border: 1px solid black;*/
  width: 400px;
  font-size: 1.4em;
  border-radius: 10px;
}
/*END CONTAINER*/

/* START FORM */
.form {
  grid-row: 2;
  grid-column: 2/5;
  margin-bottom: 50px;
  margin-top: 50px;
  padding: 15px;
  border-radius: 15px;
}

.log-in-form {
  grid-row: 2;
  grid-column: 2/3;
  margin-left: 275px;
}
/* END FORM */

.fade-in {
    opacity:0;  /* make things invisible upon start */
    animation:fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */

    animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/

    animation-duration:0.7s;
    animation-delay: 0s
}

@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

/* START NEW USER FORM */
.new-user-form input {
  border-radius: 25px;
  padding: 5px;
  margin: 5px;
}
/* END NEW USER FORM*/

/* START USER CHART */
.chart {
  margin-top: 5%;
  margin-bottom: 10%;
  margin-left: 5%;
  max-width: 90%;
  max-height: 90%;
}

.no-evals-yet {
  padding-top: 200px;
  font-family: 'Varela', sans-serif;
  font-size: 3em;
}
/* END USER CHART */

/* START ERROR PAGE */
  
#error-page {
  grid-column: 2/5;
  margin-top: 200px;
  font-family: 'Varela', sans-serif;
  font-size: 3em;
}

/* END ERROR PAGE */

/* Position of lists on chart page...need to probably change to make chart container display grid with 2 rows and 2 columns*/
#action-steps {
  float: right;
  display: inline-block;
}

#scores-list {
  float:left;
  display: inline-block;
}
